<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원가입</title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <form method="post" action="/join">
            <div class="container">
              <h1>회원가입</h1>
          
              <b>이름</b>
              <input type="text" placeholder="이름을 입력하세요" name="name" required />
          
              <b>ID</b>
              <input type="text" placeholder="ID를 입력하세요" name="id" required />
          
              <b>비밀번호 </b>
              <input type="password" placeholder="비밀번호를 입력하세요" name="password" required />
              
              <b>이메일</b>
              <input type="text" placeholder="email을 입력하세요" name="email" required />
              
              <b>전화번호</b>
              <input type="text" placeholder="전화번호를 입력하세요" name="tel" required />
              
              <button type="submit" class="SubmitButton">생성</button>
            </div>
          </form>
    </body>
</html>