<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>일기 작성</title>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <form action='/new' method="post" enctype="multipart/form-data">
            <div class="container">
                <h1>일기 작성</h1>
                <b>제목</b>
                <input type="text" name="title" placeholder="제목을 입력하세요." required />
                
                <b>작성자</b>
                <input type="text" name="name" placeholder="<%=name%>" required disabled />
                
                <b>내용</b>
                <input type="text" name="content" required />

                <b>이미지</b>
                <input type="file" name="userfile" required />
                
                <input type="submit" value="글 등록" class="SubmitButton">
            </div>
        </form>
    </body>
</html>